.App .Title {
  margin: 6% 0 6% 30%;
  font-size: 2em;
  font-weight: bold;
}
.App .CurrenciesPanelComponent input {
  padding: 12px 20px;
  margin: 0 1em 0 30%;
  width: 20%;
  min-width: 6em;
  height: 10%;
  box-sizing: border-box;
  border: none;
  background-color: #3CBC8D;
  color: white;
  font-weight: bold;
}
.App .CurrenciesPanelComponent input:focus {
  background-color: #3b8167;
}
.App .CurrenciesPanelComponent input::-webkit-inner-spin-button,
.App .CurrenciesPanelComponent input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.App .CurrenciesPanelComponent select {
  padding: .6em;
  border-color: none;
  border-radius: 4px;
  background: #3CBC8D;
  color: white;
  font-weight: bold;
  min-width: 6em;
}
.App .CurrenciesPanelComponent select:focus {
  background-color: #3b8167;
}
.App .CurrenciesPanelComponent #SecondaryValue {
  display: inline-block;
  padding: 12px 20px;
  margin: 1em 1em 0 30%;
  width: 20%;
  min-width: 6em;
  height: 10%;
  box-sizing: border-box;
  background-color: #3b8167;
  color: white;
}
.App .CurrenciesPanelComponent #SecondaryCurrency {
  display: inline-block;
}
.App .CurrenciesPanelComponent .RatePanel {
  margin: 0 1em 0 30%;
}
.App .CurrenciesPanelComponent .RatePanel .header,
.App .CurrenciesPanelComponent .RatePanel .value {
  font-weight: bold;
}
.App .CurrenciesPanelComponent .RatePanel div {
  margin: 1em 1em 0 0;
  display: inline-block;
}
.App footer {
  position: absolute;
  bottom: 0;
  margin: .4em 0 .4em 40%;
}
.App footer a {
  margin-left: 30%;
  text-align: center;
  cursor: pointer;
}
